{{#if memoize}}
import React from 'react';
{{/if}}
import { use{{pascalCase folderName}}Styles } from './styles';

const {{pascalCase folderName}} = () => {
    const classes = use{{pascalCase folderName}}Styles();

    return <div className={classes.root}></div>;
};

{{#if memoize}}
export default React.memo({{pascalCase folderName}});
{{else}}
export default {{pascalCase folderName}};
{{/if}}